@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #e3ebf3; /* Adjust the gray color as needed */
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
